body{
    background: url("achtergrondport.png");
}
.hfdhomeknop{
    font-family: Calibri, serif;
    font-size:18px;
    padding: 20px;
    right: 95%;
    text-decoration: none;
    justify-content: left;
    color: white;
    background:black;
    position: fixed;
    border: 5px solid white;
}